<div id="page-content">
    <div class = "container">
        <div class = "jumbotron">
            <div class="container-fluid text-light p-5">
                <div class="container bg-dark p-5">
                    <h1 class="display-4"> Alpha Blog </h1>
                    <hr>
                    <p>Sign up to make articles</p>
                    <button type="button" class="btn btn-success">Sign Up</button>
                </div>
            </div>
        </div>

    </div>
<div id = "page-content">
